<html>
<script type="text/javascript">
	// Prevent dropdown menu from closing when click inside the form
	$(document).on("click", ".navbar-right .dropdown-menu", function(e){
		e.stopPropagation();
	});
</script>
<!-- </head> -->
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="/home">beer<b>GEM</b></a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a href="/beers" class="nav-link">Beers</a></li>
			<li class="nav-item"><a href="/guides" class="nav-link">Guides</a></li>
			<li class="nav-item dropdown">
				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Regions <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#" class="dropdown-item">North America</a></li>
					<li><a href="#" class="dropdown-item">South America</a></li>
					<li><a href="#" class="dropdown-item">Europe</a></li>
					<li><a href="#" class="dropdown-item">Asia</a></li>
          <li><a href="#" class="dropdown-item">Oceania</a></li>
				</ul>
			</li>
		</ul>

		<!-- SEARCH BOX -->
		<form class="navbar-form form-inline">
			<div class="input-group search-box">
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons"></i></span>
			</div>
		</form>

				<!-- LOGIN and LOG OUT -->
		<ul class="nav navbar-nav navbar-right ml-auto">
				<% if user_signed_in? %>
						<li class="nav-item">
							 <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class:"btn btn-primary get-started-btn mt-1 mb-1" %>
						</li>
				<% else%>
						<li class="nav-item">
							 <%= link_to 'Log In', new_user_session_url,class:"btn btn-primary get-started-btn mt-1 mb-1" %>
						</li>
				<% end %>
		</ul>
	</div>
</nav>
</body>

<br />

<div class="container">
<br>  <h2 class="text-center">Showing a list of our craftbeers </h2>

<br>
<div style="width:1100px; margin: 0 auto">
<div style="width: 300px; display: inline-block">
<div class="row">
	<aside class="col-sm-12">

<!-- CATEGORY -->
<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Beer Style </h6>
		</header>

		<div class="filter-content">
			<div class="card-body">
			<form>
				<label class="form-check">
				  <input class="form-check-input" id="ipacheck" type="checkbox" value="" checked>
				  <span class="form-check-label">
				    IPA
				  </span>
				</label> <!-- form-check.// -->

				<label class="form-check">
				  <input class="form-check-input" id="lagercheck" type="checkbox" value="" checked>
				  <span class="form-check-label">
				    Lager
				  </span>
				</label>  <!-- form-check.// -->

				<label class="form-check">
				  <input class="form-check-input" id="stoutcheck" type="checkbox" value="" checked>
				  <span class="form-check-label">
				    Stout
				  </span>
				</label>  <!-- form-check.// -->
			</form>
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div>
	<!-- REGIONS -->
	<div class="card">
		<article class="card-group-item">
			<header class="card-header">
				<h6 class="title">Regions </h6>
			</header>

			<div class="filter-content">
				<div class="card-body">
				<form>
					<label class="form-check">
					  <input class="form-check-input" id="northcheck" type="checkbox" value="" checked>
					  <span class="form-check-label">
					    North America
					  </span>
					</label> <!-- form-check.// -->

					<label class="form-check">
					  <input class="form-check-input" id="southcheck" type="checkbox" value="" checked>
					  <span class="form-check-label">
					    South America
					  </span>
					</label>  <!-- form-check.// -->

					<label class="form-check">
					  <input class="form-check-input" id="europecheck" type="checkbox" value="" checked>
					  <span class="form-check-label">
					    Europe
					  </span>
					</label>  <!-- form-check.// -->

					<label class="form-check">
					  <input class="form-check-input" id="asiacheck" type="checkbox" value="" checked>
					  <span class="form-check-label">
					    Asia
					  </span>
					</label>  <!-- form-check.// -->

					<label class="form-check">
					  <input class="form-check-input" id="oceaniacheck" type="checkbox" value="" checked>
					  <span class="form-check-label">
					    Oceania
					  </span>
					</label>  <!-- form-check.// -->
				</form>
				</div> <!-- card-body.// -->
			</div>
		</article>
</div>
</div> <!-- card-group-item.// -->
</div>

<div style="display:inline-block; width:620px; float:right; margin: 0 80px">
<% @beers.each do |beer| %>
    <div class="card mb-3 <%= beer.style %> <%= beer.region %>" style="max-width: 600px">
        <a style="color:inherit; text-decoration:inherit" href=<%=beer_path(beer.id)%>>
            <div class="row no-gutters">
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title"><%= beer.title %></h5>
                        <p class="card-text"><small class="text-muted"><%= beer.style %></small></p>
                        <p class="card-text"><small class="text-muted"><%= beer.region %></small></p>
                        <p class="card-text"><small class="text-muted"><%= beer.country %></small></p>
                        <p class="card-text"><%= beer.description %></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <img class="card-img" style="height:250px; width:70px; margin:10px" src=<%= beer.image %> alt="...">
                </div>
            </div>
        </a>
    </div>
<%end %>
</div>

</div>

<script>
    const ipaCheckBox = document.getElementById("ipacheck");
    const ipaCards = document.querySelectorAll("div.IPA");

    const lagerCheckBox = document.getElementById("lagercheck");
    const lagerCards = document.querySelectorAll("div.Lager");

    const stoutCheckBox = document.getElementById("stoutcheck");
    const stoutCards = document.querySelectorAll("div.Stout");

    const northCheckBox = document.getElementById("northcheck");
    const northCards = document.querySelectorAll("div.North");

    const southCheckBox = document.getElementById("southcheck");
    const southCards = document.querySelectorAll("div.South");

    const europeCheckBox = document.getElementById("europecheck");
    const europeCards = document.querySelectorAll("div.Europe");

    const asiaCheckBox = document.getElementById("asiacheck");
    const asiaCards = document.querySelectorAll("div.Asia");

    const oceaniaCheckBox = document.getElementById("oceaniacheck");
    const oceaniaCards = document.querySelectorAll("div.Oceania");

    function removeIPA () {
        for (i = 0; i < ipaCards.length; i++) {
          ipaCards[i].style.display = "none";
        };
        ipaCheckBox.style.display = "none";
    };

    function removeLager () {
        for (i = 0; i < lagerCards.length; i++) {
          lagerCards[i].style.display = "none";
        };
        lagerCheckBox.style.display = "none";
    };

    function removeStout () {
        for (i = 0; i < stoutCards.length; i++) {
          stoutCards[i].style.display = "none";
        };
        stoutCheckBox.style.display = "none";
    };

    function removeNorth () {
        for (i = 0; i < northCards.length; i++) {
          northCards[i].style.display = "none";
        };
        northCheckBox.style.display = "none";
    };

    function removeSouth () {
        for (i = 0; i < southCards.length; i++) {
          southCards[i].style.display = "none";
        };
        southCheckBox.style.display = "none";
    };

    function removeEurope () {
        for (i = 0; i < europeCards.length; i++) {
          europeCards[i].style.display = "none";
        };
        europeCheckBox.style.display = "none";
    };

    function removeAsia () {
        for (i = 0; i < asiaCards.length; i++) {
          asiaCards[i].style.display = "none";
        };
        asiaCheckBox.style.display = "none";
    };

    function removeOceania () {
        for (i = 0; i < oceaniaCards.length; i++) {
          oceaniaCards[i].style.display = "none";
        };
        oceaniaCheckBox.style.display = "none";
    };

    ipaCheckBox.addEventListener("click", removeIPA);
    lagerCheckBox.addEventListener("click", removeLager);
    stoutCheckBox.addEventListener("click", removeStout);
    northCheckBox.addEventListener("click", removeNorth);
    southCheckBox.addEventListener("click", removeSouth);
    europeCheckBox.addEventListener("click", removeEurope);
    asiaCheckBox.addEventListener("click", removeAsia);
    oceaniaCheckBox.addEventListener("click", removeOceania);
</script>


</html>
